@import "tailwindcss";

@keyframes slide-in-from-top {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-in {
  animation: slide-in-from-top 0.18s ease-out;
}


@layer base {
  :root {
    --bg: #f8fafc; /* light background */
    --bg-alt: #ffffff;
    --text: #0f172a;
    --text-muted: #475569;
    --border: #e2e8f0;

    --primary: #2563eb;
    --primary-light: #3b82f6;
    --primary-dark: #1e40af;
  }

  .dark {
    --bg: #0d1117; /* dark background */
    --bg-alt: #161b22;
    --text: #e2e8f0;
    --text-muted: #94a3b8;
    --border: #1f2937;

    --primary: #3b82f6;
    --primary-light: #60a5fa;
    --primary-dark: #1d4ed8;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
  }
  * {
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

}
